body {
    font-family: Arial, sans-serif;
    background-image: url("/static/images/contabillidade.jpg"); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Garante que a imagem cubra todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar a página */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
    color: #fff; /* Altere a cor do texto para contrastar com o fundo */
    margin: 0;
    padding: 0;
}

header {
    background-image: url("/static/images/contabillidade.jpg"); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Garante que a imagem cubra todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar a página */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
    color: #fff; /* Altere a cor do texto para contrastar com o fundo */
    margin: 0;
    padding: 0;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.card {
    border-radius: 10px;
}

.card-footer a {
    font-weight: bold;
}
.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}
#passwordRequirements li {
    margin-left: 15px;
}


